<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TestItem</key>
		<string>Set Supply Voltage 2V</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>VOLT 2V</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Supply Frequency_128KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FREQ 128KHZ</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>KHZ</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC LSQ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSQ</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Ls_128KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>5.36</string>
		<key>Upper</key>
		<string>5.93</string>
		<key>Unit</key>
		<string>uH</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Q_128KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>118.76</string>
		<key>Upper</key>
		<string>131.27</string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC RS</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSRS</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Rs_128KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>32.6</string>
		<key>Upper</key>
		<string>39.94</string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC DCR</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSRD</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>DCR_128KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>24.16</string>
		<key>Upper</key>
		<string>29.54</string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Supply Frequency_360KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FREQ 360KHZ</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>KHZ</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC LSQ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSQ</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Ls_360KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>uH</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Q_360KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC RS</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSRS</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Rs_360KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC DCR</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSRD</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>DCR_360KHZ</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
</array>
</plist>
