<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TestItem</key>
		<string>Set Supply Voltage 2V</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>VOLT 2V</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Supply Frequency</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FREQ 128KHZ</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC LSRS</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSRS</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>LS</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>0</string>
		<key>Upper</key>
		<string>999</string>
		<key>Unit</key>
		<string>uH</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>RS</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Q</string>
		<key>Device</key>
		<string>SELF</string>
		<key>PortType</key>
		<string></string>
		<key>Command</key>
		<string></string>
		<key>Property</key>
		<string></string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string>0</string>
		<key>Upper</key>
		<string>999</string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>RS</string>
		<key>Device</key>
		<string>SELF</string>
		<key>PortType</key>
		<string></string>
		<key>Command</key>
		<string></string>
		<key>Property</key>
		<string></string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string>0</string>
		<key>Upper</key>
		<string>999</string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>FUNC DCR</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FUNC:IMP LSRD</string>
		<key>Property</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>other</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>hide</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>DCR</string>
		<key>Device</key>
		<string>LCR</string>
		<key>PortType</key>
		<string>visa</string>
		<key>Command</key>
		<string>FETC?</string>
		<key>Property</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>0</string>
		<key>Upper</key>
		<string>999</string>
		<key>Unit</key>
		<string>mOhm</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string>,</string>
		<key>To</key>
		<string>,</string>
		<key>DelayTime</key>
		<string>0.01</string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
</array>
</plist>
