<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVGTime</key>
	<string>1</string>
	<key>Config</key>
	<dict>
		<key>0</key>
		<string>COIL-G1-6</string>
		<key>1</key>
		<string>COIL-D1B-4</string>
		<key>2</key>
		<string>COIL-D2-5</string>
		<key>3</key>
		<string>COIL-D3-x</string>
		<key>4</key>
		<string>COIL-D4-x</string>
		<key>5</key>
		<string>COIL-D5-12</string>
		<key>6</key>
		<string>COIL-D6-13</string>
		<key>7</key>
		<string>COIL-D7-14</string>
		<key>A</key>
		<string>COIL-G1-2</string>
		<key>B</key>
		<string>COIL-R1-7</string>
		<key>C</key>
		<string>COIL-R1-xx</string>
		<key>D</key>
		<string>COIL-D16-8</string>
		<key>E</key>
		<string>COIL-X1-11</string>
		<key>F</key>
		<string>COIL-D1-3</string>
		<key>G</key>
		<string>COIL-D17-9</string>
		<key>H</key>
		<string>COIL-D18-10</string>
		<key>J</key>
		<string>COIL-X2-x</string>
		<key>K</key>
		<string>COIL-D8-x</string>
		<key>L</key>
		<string>COIL-D9-15</string>
		<key>M</key>
		<string>COIL-G1-17</string>
		<key>N</key>
		<string>COIL-G1-18</string>
		<key>P</key>
		<string>COIL-G1-19</string>
	</dict>
	<key>Configs</key>
	<array>
		<string>POC</string>
		<string>DOC</string>
		<string>DOE</string>
		<string>Proto</string>
		<string>EVT</string>
		<string>DVT</string>
		<string>PVT</string>
		<string>MP</string>
	</array>
	<key>EEEECode</key>
	<dict>
		<key>MJ2V</key>
		<string>MJ2V</string>
	</dict>
	<key>LCRPortName</key>
	<string>USB0::0x0957::0x0909::MY54203834::INSTR</string>
	<key>Lines</key>
	<array>
		<string>ATKS-1</string>
		<string>ATKS-2</string>
		<string>ATKS-3</string>
		<string>ATKS-4</string>
		<string>ATKS-5</string>
		<string>ATKS-6</string>
		<string>ATKS-7</string>
		<string>ATKS-8</string>
	</array>
	<key>McuPortName</key>
	<string>/dev/tty.usbserial-FTDVHWOT</string>
	<key>SNLength</key>
	<string>17</string>
	<key>SW_Name</key>
	<string>Coil Module LCR</string>
	<key>SW_Version</key>
	<string>1.0.0</string>
	<key>SpecialBuildName</key>
	<string>X3051-P1</string>
	<key>Station_ID</key>
	<string>Module LCR</string>
	<key>WaitTime1</key>
	<string>1.5</string>
	<key>WaitTime2</key>
	<string>1</string>
	<key>SFCMode</key>
	<false/>
</dict>
</plist>
